<div id="<%= dom_id comment %>">
  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= comment.author.name %>
  </p>

  <% if comment.author == current_user %>
    <div>
      <%= button_to "Delete", comment, method: :delete %>
    </div>
  <% end %>
</div>
