<h1>Posts</h1>

<%= render "posts/form", post: Post.new %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post, post_link: true %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>
