body {
  margin: 0;
  padding: 0;

  header {
    padding: 10px 10%;

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h1 {
        margin: 0;
        padding: 0;
      }
    }
  }

  main {
    padding: 0 10%;
  }
}
